<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net48" />
  <package id="FFME.Windows" version="4.2.330" targetFramework="net48" />
  <package id="FFmpeg.AutoGen" version="4.2.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>